@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Noto+Sans&display=swap');

.home-title {
    font-family: "Nosifer", "Brush Script MT", "Century Gothic";
    font-size: 2em;
    margin-top: 10px;
}


.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#content {
    max-width: 1600px;
    margin: 0 auto
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
    background-color: rgb(240, 232, 232);
}

#background {
    height: 725px;
}

body {
    background-color: rgb(240, 232, 232);
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    background-color: rgb(57, 87, 117);
}

nav a {
    background-color: rgb(57, 87, 117);
    ;
    color: gray;
    padding: 35px;
}


nav a:hover,
footer a:hover {
    background-color: black;
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

.book,
.join {
    background-color: rgb(73, 73, 73);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: black;
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

#background {
    background-color: rgb(255, 136, 0);
}

.msg,
.msg h2,
.msg p,
footer {
    background-color: rgb(57, 87, 117);
    color: white;
}



.home-title,
h4 {
    color: black
}

footer a,
nav a {
    text-decoration: none;
    color: white
}

.msg h2 {
    font-family: Noto Sans, Helvetica, sans-serif;
    font-size: 2em;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding: 5px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;

}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid rgb(255, 136, 0);
}

main section img {
    box-sizing: border-box;
}