@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Oswald&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    width: 95px;
    padding-top: 4px;
}

#hero-box {
    width: 100%;
}

#logo_link {
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: #F58F1D;
    display: grid;
    grid-template-columns: 150px auto;
    height: 115px;
}

nav a {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1.4em;
    padding: 35px;
    color: black;
}

.welcome-title2,
.welcome-title1 {
    margin-left: 140px;
    margin-right: 140px;
}

.welcome-title2 h1,
.welcome-title1 h1 {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    font-size: 3em;
    text-align: center;
}

.welcome-title2 p,
.welcome-title1 p {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;

}

.welcome-title2 p {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}

.welcome-title h1 {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    font-size: 3em;
    text-align: center;
}

.welcome-title p {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 75px;

}

#hero-box {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.home-grid1 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 45% 5% 45% 5%;
}

.educate-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.educate-grid h2 {
    grid-column: 3/9;
    text-align: center;
    grid-row: 2/2;
    margin-top: 60px;

}

.educate {
    grid-column: 3/9;
    grid-row: 1/1;
    text-align: center;
}

.python-img,
.pyspark-img,
.powerbi-img,
.sql-img {
    text-align: center;
    margin-top: 60%;
    margin-inline: 50px;
}

.python-img,
#python {
    grid-column: 4/5;
    grid-row: 3/3;


}

.sql-img,
#sql {
    grid-column: 5/6;
    grid-row: 3/3;


}

.powerbi-img,
#powerbi {
    grid-column: 6/7;
    grid-row: 3/3;

}

.pyspark-img,
#pyspark {
    grid-column: 7/8;
    grid-row: 3/3;


}

#pyspark,
#python,
#sql,
#powerbi {
    margin-top: 300px;
    text-align: center;

}

#cert {
    grid-row: 3/3;
    background-color: black;
    color: #F58F1D;
    height: 40PX;
    font-size: 2em;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}



.stock-class {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
}

.stock-class h2 {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    font-size: 2em;
    grid-column: 2/2;
    grid-row: 2/2;
    margin-left: 35%;
    margin-right: 35%;
    background-color: black;
    color: #F58F1D;
    width: 400px;

}

.dashboard-class {
    grid-column: 2/2;
    grid-row: 3/3;
    text-align: center;
    margin-top: 50px;

}

.dashboard-class h2 {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    font-size: 2em;
    grid-column: 2/2;
    grid-row: 4/4;
    margin-left: 350px;
    margin-right: 300px;
    background-color: black;
    color: #F58F1D;
    width: 600px;

}

.home-grid h2 {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    font-size: 2em;
    grid-column: 3/9;
    grid-row: 1/1;
    text-align: center;
}

.home-grid p {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1.5em;
    grid-column: 3/9;
    grid-row: 1/1;
    text-align: center;
    margin-top: 75px;
}

.about-me-link {
    grid-column: 4/4;
    grid-row: 2/2;
    margin-top: 70px;
}

.portfolio-link {
    grid-column: 7/7;
    grid-row: 2/2;
    margin-top: 70px;

}

#link-port,
#link-me {
    margin-left: 17%;
    font-size: 1.5em;

}


footer {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1.4em;
    background-color: #F58F1D;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

nav a:hover,
footer a:hover,
#link-port:hover,
#link-me:hover {
    background-color: black;
    color: #F58F1D;
    text-decoration: underline;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 1600px;
    height: 862px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #F58F1D;
    color: black;
    transform: rotateY(180deg);
}

.flip-card-back h1,
.flip-card-back p {
    font-family: "Merienda", "Brush Script MT", "Century Gothic";
    text-align: center;
    font-size: 6em;
}









@media screen and (max-width: 900px) {


    .educate-grid,
    .educate,
    #hero-box,
    .home-grid,
    .stock-class,
    .dashboard-class {
        display: block;
        height: auto;
    }

    .educate-grid h2 {
        margin-top: 10%;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 2px;
    }

    .welcome-title2 p {
        display: block;
        margin: auto;
    }

    #hero-box {
        margin-top: 0;
    }



    .welcome-title,
    .welcome-title1 {
        font-size: 25px;
        color: #6f7364;
    }


    .portfolio-link,
    .about-me-link {
        margin: 50px auto;
        width: 60%;
    }

    .stock-img,
    .stock-class h2 {

        width: 100%;
        display: block;
        margin: 0 auto;

    }

    .stock-class h2 {
        margin-top: 5%;
    }

    .business-dashboard-img,
    .dashboard-class h2 {

        width: 100%;
        display: block;
        margin: 0 auto;

    }

    .flip-card {

        width: 90%;
        display: block;
        margin: 0 auto;
        height: 100%;
    }

    #dash {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .home-grid h2 {
        margin-top: 50%;
    }

    .home-grid p {
        margin-top: 10%;
    }

    .powerbi-img,
    .python-img,
    .pyspark-img,
    .sql-img {
        display: block;
        margin: 0 auto;
    }

    #powerbi,
    #python,
    #pyspark,
    #sql {
        display: block;
        margin: 0 auto;
    }

    #cert {
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
        margin-top: 40px;
        width: 60%;
    }

    .flip-card-back h1,
    .flip-card-back p {
        font-size: larger;
    }

    .business-dashboard-img {
        margin-top: -25%;
    }

    .dashboard-class h2 {
        margin-top: 5%;
        margin-bottom: 60%;
    }

    .certificates h2 {
        margin: 50px auto;
        width: 40%;
        background-color: white;
        align-items: center;
        text-align: center;
    }

    #background {
        display: none;
    }

    footer {
        margin-top: 25px;
    }


}